html {
  scroll-snap-type:  y mandatory;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.app__videos {
  position: relative;
  height: 616px;
  border-radius: 20px;
  overflow: scroll;
  /* width: 80%; */
  max-width: 500px;
  scroll-snap-type: y mandatory;
  /* scroll-behavior: smooth; */
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
